# ignore certain file types
.*.swp
*.o
*.log
*.txt
*.bed
*.nfs*
*.tsv
*gmon.out
*.svg
*.vcf
*.gz
*.gprof
src/vcfdist

# ignore analysis
analysis/*/
analysis/*.png

# ignore input
data/*/*

# ignore output
out/

# don't track test cases
test/
issues/
