# ignore certain file types
*.a
.*.swp
*.o
*.log
*.txt
*.bed
*.nfs*
*.tsv
*gmon.out
*.svg
*.vcf
*.pdf
*.gz
*.gprof
*.png
*.json
*.log
*.aux
src/vcfdist
src/test
__pycache__

# ignore analysis
analysis/*/*/
analysis-v2/*/*/
analysis-v2/hla

# ignore input/output
data/
out/

# don't track test cases
test/
tests/test_vcfdist
issues/
