# ignore certain file types
.*.swp
*.o
*.log
*.txt
*.bed
*.nfs*
*.tsv
*gmon.out
*.svg
*.vcf
*.pdf
*.gz
*.gprof
*.png
src/vcfdist
src/test

# ignore analysis
analysis/*/*/
analysis-v2/*/*/
analysis-v2/hla

# ignore input/output
data/
out/

# don't track test cases
test/
issues/
